# =====================
# RAG Data (PDFs)
# =====================
src/rag/data/

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
build/
dist/

# =====================
# Virtual Environments
# =====================
.venv/
venv/
env/

# =====================
# Environment variables
# =====================
.env

# =====================
# Vector DB / Storage
# =====================
storage/
chroma/
chroma_db/
*.sqlite3

# =====================
# Streamlit
# =====================
.streamlit/

# =====================
# OS / IDE
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/
